/**
 * BASE COLORS
 */
$white: #fff;
$black: #000;
$green: #336633;
$yellow: #ffa70b;
$orange: #f16837;
$violet: #9c52fd;
$skyblue: #3596fe;
$darkred: #CD0000;
 
/**
* LIGHT COLORS
*/
$light_ash: #eee;
 
/**
* OPACITY COLORS
*/
$green_op: #33663333;
$green_opc: #3366331a;
$yellow_op: #ffa70b33;
$yellow_opc: #ffa70b1a;
$violet_op: #9c52fd33;
$violet_opc: #9c52fd1a;
 
/**
 * ALERT COLORS
 */
$succ_color: #007f44;
$err_color: #CD0000;
$auth_succ_txt_color: #c4ffe3;
$auth_err_txt_color: #ffdbdb;

 /**
  * SYSTEM COLORS
  */
$default_text_color: #333;
$sys_brand_color: #006699;
$sys_brand_color_op: #00669933;
$sys_brand_color_opc: #0066991a;
$ripple_orange: #006699CC;
$yellow_text_color: rgb(255, 249, 170);
$label_heading_color: #123a4e;

/**
 * HEAD SECTION COLORS
 */
$nav_label_bg_color: #006699;
